# Exclude doxygen
miosix/_doc/doxygen/html/*

# Exclude temporary files
main.elf
main.bin
main.hex
main.map
*.o
*.a
*.d
miosix_np_2/nbproject/private/private.xml
.gitignore~
.gitignore.swp
Makefile~

# Exclude Mac OS X temporary
._*
.DS_Store
